/* .listing-container {
    min-height: 100%;
    min-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    /*box-shadow: 0 0 10px rgba(255,255,255,0.8);*/
    /* border: solid #999;
    border-width: 0 3px; */
/* } */

.paging-container {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
}

.posts-container {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    /* border-top: 2px solid var(--medium-grey); */
    padding: 30px 0;
}

.post-list {
    margin-top: 20px;
}

/* Post Listing */

    .post-item {
        display: flex;
        flex-flow: row wrap;
        padding: 20px 0;
        /* margin-bottom: 40px; */
        border-radius: 0;
        transition: all 350ms ease;
        /* border-top: 4px solid var(--medium-grey); */
        /* background: linear-gradient(167deg, rgba(0,0,0,0.5), transparent); */
    }

    .post-item:hover {
        background-color: var(--bg-dark);
    }

    .post-item-img {
        position: relative;
        /* margin-bottom: 10px; */
        margin-left: 0;
        height: 200px;
        overflow: hidden;
        border-radius: 0;
        /* border-radius: 0 180px 0 0; */
        /* border-radius: 0 6px 60px 0; */
        opacity: 0.75;
        filter: grayscale(80%);
        transform: translateX(0);
        transform-origin: top left;
        transition: all 555ms 200ms ease-in-out;
    }

    .post-item:hover .post-item-img {
        border-radius: 0;
        /* border-radius: 0 10px 10px 0; */
        transform: translateX(20px);
        /* height: 250px; */
        filter:grayscale(0) ;
        opacity: 1;
    }

    img.title-img {
        padding-left: 70px;
    }

    .post-item .post-header {
        margin-left: 5px;
        margin-right: 10px;
    }

    .post-header h2.post-title {
        margin: -10px 15px -10px 0;
        line-height: 1.4;
        font-size: 4.20rem;
        letter-spacing: var(--letter-spacing);
        /* max-width: 885px; */
        max-width: 57vw;
        transition: all 350ms ease;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .post-item:hover .post-header h2.post-title {
        /* letter-spacing: -0.02em; */
        margin-right: 25px;
        max-width: 840px;
    }

    .post-item .post-header span,
    .post-header .post-info {
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--medium-grey);
    }


    .post-item .post-item-content {
        margin: 20px auto auto -60px;
        /* margin: 33px auto auto -4px; */
        position: absolute;
        display: flex;
        align-items: center;
        background-color: var(--bg-dark);
        padding: 5px 0;
        /* border: solid var(--medium-grey);
        border-width: 0 6px 3px 2px; */
        /* border-radius: 0 0 70px 0; */
        border-radius: 40px 10px 10px 40px;
        transition: all 350ms ease;
    }

    .post-item:hover .post-item-content {
        background-color: var(--bg-main);
        /* border-radius: 0 0 100px 0; */
        /* border-radius: 20px 10px 100px 20px; */
        /* border-radius: 50px 10px 10px 50px; */
        /* border-width: 0 10px 4px 4px; */
    }
