
header.page-header {
  margin: 0 auto 20px;
  padding: 20px 20px 5px;
  background-color: var(--bg-dark);
}

header.page-header h1 {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -0.03em;
}

.page-single p a,
.page-single p a:link {
  color: var(--primary);
  text-decoration: none;
  background-position-y: -0%;
  background-image: linear-gradient( transparent 50%, var(--secondary) 50%);
  transition: background 500ms ease;
  background-size: 2px;
  background-size: auto 175%;
}

.page-single p a:visited {
  color: var(--font-color-alt);
}

.page-single p a:hover,
.page-single p a:active {
  color: var(--font-color);
  background-position-y: 115%;
}


/* Post Content */

  .page-content p {
    margin: 0 20px 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .page-content h1,
  .page-content h2,
  .page-content h3,
  .page-content h4,
  .page-content h5,
  .page-content h6 {
    /* margin-left: 10px; */
    padding-left: 20px;
    padding-right: 20px;
  }
