

.post-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid var(--medium-grey);
  border-width: 3px 0;
}

.post-tag-container,
.post-tag-container a {
  color: var(--medium-grey);
  font-size: 1.6rem;
}
