.post-single p a,
.post-single p a:link {
    color: var(--primary);
    text-decoration: none;
    background-position-y: -0%;
    background-image: linear-gradient( transparent 50%, var(--secondary) 50%);
    transition: background 500ms ease;
    background-size: 2px;
    background-size: auto 175%;
}

.post-single p a:visited {
    color: var(--font-color-alt);
}

.post-single p a:hover,
.post-single p a:active {
    color: var(--font-color);
    background-position-y: 115%;
}


/* .post-single .post-cover-image {
  background-color: var(--bg-dark);
} */
.post-single .post-cover-image img {
  /* width: 100%; */
  max-width: 980px;
  border: solid var(--medium-grey);
  border-width: 0 4px 4px 0;
  border-radius: 0 0 123px 0;
  height: auto;
}

header > span i {
  margin-left: 30px;
  margin-right: 20px;
}

header.post-single-header {
  max-width: 70%;
  position: relative;
  display: flex;
  top: 0;
  margin: -55px auto 20px -4px;
  align-items: center;
  background-color: var(--bg-dark);
  padding: 5px 10px;
  border: 4px solid var(--medium-grey);
  border-radius: 0 4px 60px 0;
  transition: all 300ms 100ms ease;
  z-index: 7;
}

header.post-single-header[data-active="true"] {
  max-width: 100%;
  position: sticky;
  top: 0;
  margin: 0;
  /* padding: 5px 25px; */
  border-radius: 0;
  background: var(--medium-grey);
  transition: all 300ms 200ms ease;
}

header.post-single-header > .stripe {
  position: fixed;
  height: 0;
  width: 0;
  top: 0;
  left: 50%;
  transition: all 400ms 100ms ease-in-out;
  margin: 0 auto;
  z-index: -3;
  opacity: 0;
}

header.post-single-header[data-active="true"] > .stripe {
  position: fixed;
  top: 0;
  /* right: 0;*/
  left: 0;
  height: 90px;
  width: 100vw;
  margin: 0;
  padding: 5px 25px;
  border-radius: 0;
  background: var(--medium-grey);
  z-index: -4;
  opacity: 1;
}

header.post-single-header[data-active="true"] .post-info span {
  color: var(--bg-dark);
}

header.post-single-header h2 {
  margin: 0;
}

header.post-single-header[data-active="true"] h2 {
  color: var(--bg-main);
}

.post-single-header .post-info {
  padding: 0 20px 0 0;
}

span.post-info {
  padding-left: 10px;
}

.post-info span {
  color: var(--medium-grey);
}

/* Post Content */

  .post-content p {
    margin: 0 20px 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .post-content h1,
  .post-content h2,
  .post-content h3,
  .post-content h4,
  .post-content h5,
  .post-content h6 {
    /* margin-left: 10px; */
    padding-left: 20px;
    padding-right: 20px;
  }

/* Post Meta und Tags */

  .post-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid var(--medium-grey);
    border-width: 3px 0;
    margin-top: 40px;
    padding: 5px 20px;
  }

  .post-tag-container {
    color: var(--medium-grey);
    font-size: 1.6rem;
    line-height: 2;
  }

  .post-tag-container a {
    color: var(--medium-grey);
    font-size: 1.6rem;
    margin-left: 10px;
  }

  .single-tag::before {
    content: "#";
  }
