
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    color: var(--bg-main);
    padding: 20px 10px;
    background-color: var(--teal);
    border-right: 5px solid var(--medium-grey);
    /* box-shadow: 0 3px 5px 7px rgba(0, 0, 0, 0.15); */
}

.sidebar header,
.sidebar footer {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    justify-content: center;
}

.sidebar nav {
    display: flex;
    flex-grow: 1;
}

/* Kopfzeile / Logo */

    header.navigation {
        display: flex;
        justify-content: center;
    }

    .kopfzeile {
        width: 100%;
        text-align: center;
    }

    .kopfzeile .logo-small {
        max-width: 180px;
        transition: transform 500ms ease;
        margin: 0 auto -10px;
    }

    .kopfzeile .logo-small:hover {
        transform: scale3d(1.05,1.05,1) rotate(-4deg) translate(8px, 8px);
        /* box-shadow: 0 0 5px 10px rgba(0,0,0,0.5); */
        filter: drop-shadow(0 0 3px rgba(0,0,0,0.5));
    }

    .kopfzeile h2 {
        color: var(--bg-main);
        text-transform: lowercase;
        font-size: 4.20rem;
        font-weight: 600;
        transition: all 500ms ease;
        letter-spacing: -0.2rem;
        margin: 0 auto;
    }

    /* .kopfzeile h2:hover {
        letter-spacing: -0.1rem;
    } */

/* Navigation */

    .sidebar nav {
        font-weight: 600;
    }

    .sidebar nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .sidebar nav a {
        color: var(--bg-main);
        font-family: var(--head-font);
        font-size: 3rem;
        margin-left: 30px;
        transition: all 500ms ease;
    }

    .sidebar nav a.active,
    .sidebar nav a:hover {
        color: var(--secondary);
        margin-left: 40px;
    }

/* Contact Footer */

    footer.copyright {
        font-size: 1.2rem;
        text-align: center;
        margin: 0 auto;
    }

    .contact-title {
        position: relative;
        color: var(--bg-dark);
        font-weight: 400;
        font-size: 1.6rem;
        margin: 0 0 5px;
        text-transform: uppercase;
        text-align: center;
    }

    .contact-title::after,
    .contact-title::before {
            content: "";
            display: block;
            height: 2px;
            width: calc(50% - 48px);
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            /* left: 0; */
            background-color: var(--bg-main);
    }

    .contact-title::before {
        left: 0;
    }
    .contact-title::after {
        right: 0;
    }

    /* .contact-title::after {
            content: "";
            display: block;
            height: 2px;
            width: calc(50% - 48px);
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            right: 0;
            background-color: var(--bg-main);
    } */

    .contact ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

    .contact ul li {
        display: inline-block;
        margin-left: 10px;
    }

    .contact ul li:first-child {
        margin-left: 0;
    }

    .contact a {
        color: var(--font-color);
        display: block;
        padding: 5px;
        font-size: 2rem;
        background: none;
        transition: all 500ms ease;
    }

    .contact a:hover {
        color: var(--primary);
        transform: scale(1.2);
    }

/* Notice-block */

    .notice-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        margin-top: 25px;
    }

    @media (max-width: 640px - 1px) {
        .notice-container {
            justify-content: space-around;
        }
    }

    .notice-container h4 {
        text-align: center;
        margin: 0;
    }
