
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5vw;
    height: 100vh;
    color: var(--bg-main);
    padding: 5px 10px 5px;
    transition: all 400ms 100ms ease-in-out;
    background-color: var(--teal);
    border-left: 5px solid var(--medium-grey);
    z-index: 11;
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.15);
}

.sidebar.thicc {
    width: 13vw;
    box-shadow: 0 3px 10px 7px rgba(0, 0, 0, 0.25);
}

/* toggle button */

    .sidebar > button {
        background: transparent;
        font-size: 2.5rem;
        border: none;
        color: var(--bg-main);
        margin-bottom: 10px;
        transition: all 450ms 200ms ease;
    }

    .sidebar > button:focus {
        outline: none;
    }

    .sidebar.thicc > button {
        color: var(--bg-main);
        transform: rotate(180deg);
    }

/* structure */

    .sidebar header,
    .sidebar footer {
        display: flex;
        flex-grow: 0;
        flex-direction: column;
        justify-content: center;
    }

    .sidebar nav {
        display: flex;
        flex-grow: 1;
    }

/* Kopfzeile / Logo */

    header.navigation {
        display: flex;
        justify-content: center;
    }

    .kopfzeile {
        width: 100%;
        text-align: center;
    }

    .kopfzeile .logo-small {
        max-width: 200px;
        transition: transform 450ms;
        margin: 0 auto -10px;
        z-index: 2;
    }

    .kopfzeile .logo-small:hover {
        transform: scale3d(1.05,1.05,0.9) rotate(-4deg) translate(8px, 12px);
        filter: drop-shadow(0 0 6px rgba(0,0,0,0.25));
    }

    .kopfzeile .logo-small ~ h2 {
        opacity: 0;
        transform: scale(0.2) translateY(80px) rotate(0deg);
        transition: all 500ms ease-in-out;
        color: var(--teal);
        z-index: 0;
    }

    .kopfzeile .logo-small:hover ~ h2 {
        transform: scale(1) translateY(-30px) rotate(-4deg);
        color: var(--bg-main);
        text-shadow:
            0 0 2px rgba(0,0,0,0.5),
            0 0 3px rgba(0,0,0,0.5),
            0 0 5px rgba(0,0,0,0.5);
        opacity: 1;
        z-index: 3;
    }

    .kopfzeile h2 {
        color: var(--bg-main);
        text-transform: lowercase;
        font-size: 4.20rem;
        font-weight: 600;
        transition: all 500ms ease;
        letter-spacing: -0.2rem;
        margin: 0 auto;
        z-index: 2;
    }

/* Navigation */

    .sidebar nav {
        font-weight: 600;
    }

    .sidebar nav ul {
        list-style-type: none;
        margin: 20% 0 0;
        padding: 0;
        position: relative;
        display: flex;
        flex-direction: column;
    }
/*
    .sidebar:not(.thicc) nav li {
        position: fixed;
        overflow: hidden;
        width: 3vw;
    }
    .sidebar:not(.thicc) nav li:hover {
        background-color: var(--teal);
        position: fixed;
        overflow: visible;
        width: 10vw;
    } */

    .sidebar.thicc nav li i,
    .sidebar nav li span {
        opacity: 0;
        visibility: hidden;
    }

    .sidebar nav li i,
    .sidebar.thicc nav li span {
        opacity: 1;
        visibility: visible;
    }
    /* .sidebar nav a {
        color: var(--bg-main);
        font-family: var(--head-font);
        word-wrap: none;
        word-break: none;
        display: flex;
        font-size: 2rem;
        margin-left: 5px;
        position: relative;
        transition: all 450ms ease;
    } */
    /* .sidebar nav a::before {
        content: "";
        font-size: 0.1rem;
        font-family: 'Font Awesome 5 Free';
        position: absolute;
        vertical-align: middle;
        transition: all 600ms ease;
        top: 25px;
        left: 0;
    } */

    .sidebar nav a {
        color: var(--bg-main);
        font-family: var(--head-font);
        display: flex;
        font-size: 3rem;
        margin-left: 20px;
        position: relative;
        transition: all 450ms ease;
    }
    /* .sidebar.thicc nav a::before {
        content: "";
        font-size: 0.1rem;
        font-family: 'Font Awesome 5 Free';
        position: absolute;
        vertical-align: middle;
        transition: all 600ms ease;
        top: 25px;
        left: 0;
    } */

    .sidebar nav a.active,
    .sidebar nav a:hover {
        color: var(--secondary);
        /* margin-left: 20px; */
    }

    .sidebar.thicc nav a.active,
    .sidebar.thicc nav a:hover {
        color: var(--secondary);
        /* margin-left: 50px; */
    }

    /* .sidebar nav a.active::before,
    .sidebar nav a:hover::before {
        font-family: 'Font Awesome 5 Free';
        font-size: 1.7rem;
        content: "\f101";
        position: absolute;
        vertical-align: middle;
        left: -20px;
        top: 5px;
    }
    .sidebar.thicc nav a.active::before,
    .sidebar.thicc nav a:hover::before {
        font-family: 'Font Awesome 5 Free';
        font-size: 2.6rem;
        content: "\f101";
        position: absolute;
        vertical-align: middle;
        left: -30px;
        top: 5px;
    } */

/* sidebar footer */

    .sidebar .rechtliches {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 0 5px 0;
    }
    .sidebar .rechtliches a,
    .sidebar .rechtliches {
        color: var(--bg-dark);
        font-size: 1.4rem;
        text-align: center;
    }

    .sidebar.thicc .rechtliches a,
    .sidebar.thicc .rechtliches {
        color: var(--bg-dark);
        font-size: 1.6rem;
        text-align: center;
    }

    /* .sidebar .rechtliches a + a {
        margin: 20px 10px 0;
    } */


    .legal-title,
    .contact-title {
        position: relative;
        color: var(--bg-dark);
        font-weight: 700;
        font-size: 1.6rem;
        margin: 0 0 5px;
        text-transform: uppercase;
        text-align: center;
    }

    .contact-title::after,
    .contact-title::before {
        content: "";
        display: block;
        height: 2px;
        width: calc(50% - 40px);
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        background-color: var(--bg-dark);
    }
    .legal-title::after,
    .legal-title::before {
        content: "";
        display: block;
        height: 2px;
        width: calc(50% - 15px);
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        background-color: var(--bg-dark);
    }

    .legal-title::before,
    .contact-title::before {
        left: 0;
    }
    .legal-title::after,
    .contact-title::after {
        right: 0;
    }

    .sidebar .contact {
        margin-bottom: 10px;
    }

    .sidebar.thicc .contact {
        margin-bottom: 0;
    }

    .contact ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        line-height: 1;
        justify-content: space-around;
    }

    .sidebar .contact ul,
    .sidebar .contact-details {
        width: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;
        transition: all 250ms ease;
    }
    .sidebar.thicc .contact ul,
    .sidebar.thicc .contact-details {
        width: auto;
        height: auto;
        visibility: visible;
        opacity: 1;
        transition: all 450ms ease;
    }

    .contact ul li {
        display: inline-block;
        margin-left: 10px;
    }

    .contact ul li:first-child {
        margin-left: 0;
    }

    .contact  ul li a {
        color: var(--bg-dark);
        display: block;
        padding: 5px;
        font-size: 2rem;
        background: none;
        transition: all 500ms ease;
    }

    .contact  ul li a:hover {
        color: var(--secondary);
        transform: scale(1.2);
    }

    footer .contact {
        display: flex;
        flex-direction: row;
    }

    .sidebar footer .user-pic {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 1px;
        transition: all 350ms ease;
    }

    .sidebar.thicc footer .user-pic {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 10px;
    }

