.notice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 25px;
}

@media (max-width: 640px - 1px) {
    .notice-container {
        justify-content: space-around;
    }
}

.notice-container h4 {
    text-align: center;
    margin: 0;
}

/* Kopfzeile / Logo */

    header.navigation {
        display: flex;
        justify-content: center;
    }

    .kopfzeile {
        width: 100%;
        text-align: center;
    }

    .kopfzeile .logo-small {
        max-width: 123px;
        transition: transform 0.35s;
        margin: 0 auto;
    }

    .kopfzeile .logo-small:hover {
        transform: scale3d(0.90,0.90,1) rotate(-5deg);
    }

/* Contact Footer */

    .contact-title {
        position: relative;
        color: var(--font-color);
        font-weight: 400;
        font-size: 1.6rem;
        margin: 0 0 5px;
        text-transform: uppercase;
        text-align: center;
    }

    .contact-title::before {
            content: "";
            display: block;
            height: 2px;
            width: calc(50% - 48px);
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            left: 0;
            background-color: var(--main-bg);
    }

    .contact-title::after {
            content: "";
            display: block;
            height: 2px;
            width: calc(50% - 48px);
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            right: 0;
            background-color: var(--main-bg);
    }

    .contact ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

    .contact ul li {
        display: inline-block;
        margin-left: 10px;
    }

    .contact ul li:first-child {
        margin-left: 0;
    }

    .contact a {
        color: var(--font-color);
        display: block;
        padding: 5px;
        font-size: 2rem;
        background: none;
        transition: all 500ms ease;
    }

    .contact a:hover {
        color: var(--primary);
        transform: scale(1.2);
    }




.footer {
    justify-content: center;
    align-content: center;
    padding: 10px 5px 5px;
}
