footer {
  justify-content: center;
  align-content: center;
  padding: 10px 5px 5px;
}

.page-wrap .footer ,
.post-wrap .footer {
  background-color: var(--bg-dark);
  padding: 5px 20px 0;
}

.page-wrap .footer > div,
.page-wrap .footer ,
.post-wrap .footer > div,
.post-wrap .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.footer i,
.footer .footer-img {
  height: 30px;
  width: 30px;
  margin:0 5px;
}

/* Notice-block */

.notice-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
}

.notice-container i,
.notice-container a {
  vertical-align: middle;
  text-align: center;
}

@media (max-width: 640px - 1px) {
  .notice-container {
      justify-content: space-around;
  }
}

.notice-container h4 {
  text-align: center;
  margin: 0;
}

/* Contact Footer */

footer.copyright {
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
}
