footer {
  justify-content: center;
  align-content: center;
  padding: 10px 5px 5px;
}

.post-wrap .footer {
  background-color: var(--bg-dark);
  padding: 5px 20px 0;
}
.post-wrap .footer > div,
.post-wrap .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.footer .footer-img {
  height: 30px;
  width: 30px;
  margin-bottom: 0;
}

/* Notice-block */

.notice-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  /* margin-top: 25px; */
}

@media (max-width: 640px - 1px) {
  .notice-container {
      justify-content: space-around;
  }
}

.notice-container h4 {
  text-align: center;
  margin: 0;
}

/* Contact Footer */

footer.copyright {
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
}
